.btn-danger-outline{
    border:1px solid #dc3545;
    color: #dc3545;
    background-color: white;
}
.btn-danger-outline:hover{
    color: white;
    background-color: #dc3545;
}
.inactive-tab{
    pointer-events: none;
    cursor: default;
    color:#848484;
}
.color_sq{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid black;
}